<footer>
    <nav>
        <a href="https://github.com/Dam-E99" target="_blank">GitHub</a> ⚡
        <a href="https://dam-e99.github.io/" target="_blank">GitHub.io</a> ⚡
         <a href="https://github.com/Dam-E99/Dam-E99.github.io/tree/study-planner-project" target="_blank">GitHub Branch</a> ⚡
        <a href="/web250/index.html" target="_blank">WEB250.io</a> ⚡
        <a href="/web215/index.html" target="_blank">WEB215.io</a> ⚡
        <a href="https://www.freecodecamp.org/dame99" target="_blank">freeCodeCamp</a> ⚡
        <a href="https://www.codecademy.com/profiles/dsotodu0" target="_blank">Codecademy</a> ⚡
        <a href="https://www.linkedin.com/in/danny-soto-duarte-ab9744296" target="_blank">LinkedIn</a>
    </nav>

    <p>Website designed by Danny Soto Enterprises</p>
    <div>
        <a href="https://www.freecodecamp.org/dame99">Almost Certified in Responsive Web Design</a> ⚡
        <a href="https://www.freecodecamp.org/dame99">Not even close to  Certified in JavaScript Algorithms and Data Structures </a>
    </div>
</footer>