/* Spiderman Theme Colors: Red: #EA1818 (or #DE0606), 
                          Blue: #0A32F9 (or #007FD7),
                          Webbing / Accent Black: #000000,
                          Eye Lens White: #FFFFFF 
*/

body {
    background-color: black;
    width: 550px;
    margin: 0 auto;
    color: #FFFFFF;
}

div {
    background-color: #333333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    box-shadow: 0 10px 30px #007FD7;
    max-width: 550px;
}

h1 {
    color: #EA1818;
    text-shadow: -2px 2px 0px #0A32F9;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 0;
}

#title {
    display: block;
    text-align: center;
}

h2 {
    display: inline-block;
    text-align: center;
    width: 280px;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    border: 2px solid #0A32F9;
    text-shadow: 2px 2px 1px black;
    border-radius: 10px;
    padding: 2px;
}

p {
    letter-spacing: 1px;
    line-height: 1.3;
    text-align: justify;
}

li {
  border-left: 3px solid #007FD7; /* A thick blue "Spider-Man suit" accent bar on the left */
  padding: 5px 10px;  
  margin-bottom: 10px; 
  border-radius: 4px;   
  font-weight: 500;     
}

li label {
    display: block;
    width: 100%;
    cursor: pointer;
}

/* Make li bullet points interchange between red and blue */
li::marker {
    color:#0A32F9
}

li:nth-child(even)::marker {
    color:#EA1818;
}

button {
    display: block;
    margin: 0 auto;
    background-color: #EA1818;
    border:  1px #FFFFFF solid;
    padding: 10px;
    cursor: pointer;
    color:#FFFFFF
}

button:hover {
    background-color: #FFFFFF;
    border:  2px solid #0A32F9;
    color: #007FD7
}