* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #1F4E79;
    width: 85%;
    max-width: 900px;
    margin: 0 auto;
    color: #1F2933;
    font-family: 'Open Sans', sans-serif;
}

.header-nav {
    text-align: center;
    background-color: #01257D;
    color: white;
    padding: 30px;
}

main {
    background-color: #F4F7FA;
    min-height: 0 auto;
}

a {
    color: #7EC8E3;
}

h1 {
    text-align: center;
    color: #E8A75D;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}


h2 {
    color: #E8A75D;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-size: 1.8em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

h3 {
    color: #E8A75D;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.catchphrase {
    padding-bottom: 10px;
    text-align: center;
    font-size: large;
    font-family: 'Poppins', sans-serif;
}

p {
    padding-left: 5px;
    line-height: 1.8em;
}

ul {
    margin-left: 20px;
    line-height: 1.5em;
}

ol {
    margin-left: 30px;
    padding-left: 15px;
    line-height: 1.5em;
}

footer {
    background-color: #01257D;
    color: white;
    padding: 30px;
}

footer > nav, p {
    text-align: center;
}

#formZero, #formOne {
    padding-bottom: 50px;
    
}

/* Form styles */

fieldset {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin: 20px;
    padding: 15px;
    border: 2px solid #7EC8E3;
}

button {
    display: block;
    margin: auto;
    padding: 10px 15px;
    border-radius: 6px;
    border: none;
    background-color: #01257D;
    color: white;
    font-size: 1rem;
}

button:hover {
    background-color: #7EC8E3;
    color: #1F2933;
    font-weight: 700;
}

/* Logo in Header */

.logo {
    float: left;
}