/* Deep Blue Sea Color Pallete Dark to light: #134074 , #13315c, #0b2545 , #8da9c4, #eef4ed */

body {
    background-color: #13315c;
    color: #eef4ed;
    font-family: 'Arial Narrow Bold', sans-serif;;
}

a {
    color: #8da9c4;
}