
body {
    background-color: #13315c;
    color: #eef4ed;
    font-family: 'Arial Narrow Bold', sans-serif;
}

a {
    color: #8da9c4;
}

figure {
    text-align: center;
}

footer > nav {
    text-align: center;
}

footer > p {
    text-align: center;
}